.isActive {
    font-weight: bold;
    background-color:cornsilk;
}
.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:azure;
    margin-bottom: var(--s-3);
    
}
.nav-link {
    padding: var(--s-2);
}
.nav-link:hover {
    background-color: cornsilk;
}
