<!DOCTYPE html> 

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>
    <body>
        {{>header}}
       <div class = "centered-form">
            <div class = "centered-form__box">
                <h1>LOG IN</h1>
                <form>
                    <label>EMAIL</label>
                    <input type="text" name="email" placeholder="email" required>
                    <label>PASSWORD</label>
                    <input type = "text" name = "password" placeholder="password" required>
                    <button type = "submit">LOG IN</button>
                </form>

            </div>
       
    </body>


</html>