<!DOCTYPE html> 

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>
    <body>
        {{>header}}
       <div class = "centered-form">
            <div class = "centered-form__box">
                <h1>REGISTER</h1>
                <form id= "registerForm">
                    <label>NAME</label>
                    <input type="text" name="name" placeholder="your name" id="registerName">
                    <label>EMAIL</label>
                    <input type="text" name="email" placeholder="email" id="registerEmail" required>
                    <label>PASSWORD</label>
                    <input type = "text" name = "password" placeholder="password" id="registerPassword"required>
                    <button type = "submit">Register</button>
                </form>
                 <p id="message-1"></p>
            </div>
       <script src = "/js/app.js"></script>
    </body>


</html>