:root {
    --s-1: 7px;
	--s-2: 11px;
	--s-3: 18px;
	--s-4: 30px;
	--s-5: 50px;
	--s-6: 75px;
	--s-7: 100px;
	--s-8: 140px;
    --primary-color: rgba(57, 56, 78, 0.329);
	--accent-color: rgba(0, 0, 0, 0.329);
	font-family: 'Basis Grotesque Regular';
    --f-xs: 14px; /*font size for paragraphs */
    --f-m: 24px; /*font size for paragraphs */
    --f-ml:30px;

    --t-h0: 400 120px/1.1 "Basis Grotesque Regular";
	--t-h1: 500 68px/1.2 "Basis Grotesque Regular";
	--t-h2: 400 64px/1.1 "Basis Grotesque Regular";
	--t-h3: 500 44px/1.1 "Basis Grotesque Regular";
	--t-h4: 500 30px/1.1 "Basis Grotesque Regular";
	--t-h5: 500 23px/1.4 "Basis Grotesque Regular";
	--t-h6: 500 18px/1.4 "Basis Grotesque Regular";

	--t-label: 500 14px/1"Basis Grotesque Regular";

	--t-body-bold: 500 14px/1.6 "Basis Grotesque Regular";
	--t-body-large: 400 18px/1.6 "Basis Grotesque Regular";
	--t-body: 12px;
	--t-body-small: 400 11px/1.8 "Basis Grotesque Regular";

}
body {
    background-color: var(--primary-color);
}
a {
    text-decoration: none;
}
button {
    cursor: pointer
}

.error {
    color: red;
}
.h1 {
	font: var(--t-h6);
}


.login {
	/* styling for login form */
	align-items: center;
}
.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}
.image--selected {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.product-page {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
}
.product-form {
	padding: 20px;
}

.form__wrapper {
	display: flex;
}
.form{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    flex-wrap: wrap;
}

.form input {
	min-width: 250px;
	padding: 12px;
	border: 2px solid;
	background-color: white;
  	border-image-slice: 1;
	border-image: conic-gradient(from var(--angle), #E2BBE1,#F9DFCA,#F5B946,#83C79C,#E2BBE1) 1;
	animation: 10s rotate linear infinite;
	border-radius: 4px;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
  }
  .list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: var(--s-3);
	width: 50%;
}
.list__item {
	display: flex;
	align-items: center;
	margin: var(--s-1);
	background-color: var(--accent-color);
	color: white;
	cursor: pointer;
	text-align: center;
}
.list__item div {
	width: 100%;
}
.list__item img {
	height: 100px;
	width: 100px;
}
.list__item:hover {
	background-color: #f5b84673;
}
.list--grid-layout__row {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
	align-items: center;

}
.list--grid-layout__item {
    position: relative;
    flex-basis: 30%;
	margin:var(--s-1);
}
/* Button Styling */

.remove-image-button {
    background-color: white;
    border: 1px solid blue;
    color: blue;
    position: absolute;
	top:0;
	right:0;
	opacity: 0;
	height:20px;
	width:20px;
	margin: 2px;
    text-align: center;
	transition: transform .2s, opacity .2s;
	transform: scale(0.5);
}
.button {
	margin-top: var(--s-4);
	padding:var(--s-1);
    border: 2px solid;
    vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	min-width: 100px;
    max-width: 200px;
    min-height: 30px;
    max-height: 40px;
}
.delete-button {
	background-color:white;
	color: red;
	border: 2px solid;
}
.delete-button:hover {
	background-color: red;
	color: white;
}
.remove-image-button:hover {
    background-color: grey;
}
.list--grid-layout__item:hover .remove-image-button {
    transform: scale(1);
	opacity: 1;
}

.cta{
	background-position: 0 0;
	--angle: 0deg;
  	border-image-slice: 1;
    background-color: white;
	color:var(--black);
	border-image: conic-gradient(from var(--angle), #E2BBE1,#F9DFCA,#F5B946,#83C79C,#E2BBE1) 1;
	animation: 10s rotate linear infinite;
}
@keyframes rotate {
	to {
	  --angle: 360deg;
	}
  }
  @-webkit-keyframes gradientBG {
	0% {
	background-position: 0% 50%;
	}
	50% {
	background-position: 100% 50%;
	}
	100% {
	background-position: 0% 50%;
	}
   }
   @keyframes gradientBG {
	0% {
	background-position: 0% 50%;
	}
	50% {
	background-position: 100% 50%;
	}
	100% {
	background-position: 0% 50%;
	}
   }
  @property --angle {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
  }

  .cta:hover {
    background: linear-gradient(-45deg,  #E2BBE1,#F9DFCA,#F5B946,#83C79C );
	background-size: 400% 400%;
	-webkit-animation: gradientBG 5s ease infinite;
			animation: gradientBG 5s ease infinite;
  }

  .modal {
	z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
	background-color: white;
    position:fixed;
	padding: 10px;
    width: 500px;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }